/* src/App.css */
.App {
  text-align: left;
  padding: 20px;
}

.segment {
  margin-top: 20px;
}

button {
  background-color: #007bff !important;
  color: white !important;
}

input[type="file"] {
  margin-top: 10px;
}
